#!/bin/sh
#
# DON'T EDIT THIS!
#
# CodeCrafters uses this file to test your code. Don't make any changes here!
#
# DON'T EDIT THIS!

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlparse = "*"

[dev-packages]
ipython = "*"
ruff = "*"
pytest = "*"

[requires]
python_version = "3"

[scripts]
dbinfo = "./your_program.sh sample.db .dbinfo"
